policy_module(stakework, 1.100.1)

########################################
#
# Declarations
#

type stakework_t;
type stakework_exec_t;
init_daemon_domain(stakework_t, stakework_exec_t)

permissive stakework_t;

type stakework_initrc_exec_t;
init_script_file(stakework_initrc_exec_t)

type stakework_conf_t;
files_type(stakework_conf_t)

type stakework_var_lib_t;
files_type(stakework_var_lib_t)

type stakework_var_run_t;
files_type(stakework_var_run_t)

type stakework_port_t;
corenet_port(stakework_port_t)

########################################
#
# stakework local policy
#
allow stakework_t self:process { fork };

allow stakework_t self:fifo_file rw_fifo_file_perms;
allow stakework_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(stakework_t, stakework_conf_t, stakework_conf_t)
manage_files_pattern(stakework_t, stakework_conf_t, stakework_conf_t)

manage_dirs_pattern(stakework_t, stakework_var_lib_t, stakework_var_lib_t)
manage_files_pattern(stakework_t, stakework_var_lib_t, stakework_var_lib_t)
files_var_lib_filetrans(stakework_t, stakework_var_lib_t, { dir file })

manage_dirs_pattern(stakework_t, stakework_var_run_t, stakework_var_run_t)
manage_files_pattern(stakework_t, stakework_var_run_t, stakework_var_run_t)

sysnet_dns_name_resolve(stakework_t)
corenet_all_recvfrom_unlabeled(stakework_t)

allow stakework_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(stakework_t)
corenet_tcp_sendrecv_generic_node(stakework_t)
corenet_tcp_sendrecv_all_ports(stakework_t)
corenet_tcp_bind_generic_node(stakework_t)

gen_require(`
    type stakework_port_t;
')
allow stakework_t stakework_port_t:tcp_socket name_bind;

gen_require(`
    type stakework_port_t;
')
allow stakework_t stakework_port_t:tcp_socket name_connect;

domain_use_interactive_fds(stakework_t)

files_read_etc_files(stakework_t)

miscfiles_read_localization(stakework_t)

sysnet_dns_name_resolve(stakework_t)

allow stakework_t stakework_exec_t:file execute_no_trans;
allow stakework_t self:process setsched;
corecmd_exec_ls(stakework_t)
corenet_tcp_connect_http_port(stakework_t)
dev_read_urand(stakework_t)
fs_getattr_xattr_fs(stakework_t)
kernel_read_system_state(stakework_t)
